---
layout: default
---

<header>
  <h1 class="my-5">{{page.title}}</h1>
</header>


<div class="text-center">
  <a href="/" class="link">► back to the homepage</a>
</div>

<!-- {% if page.coffee == true %}
<section class="recipes mt-5">
  <div class="container">
    <h2 class="mb-4">for coffee...</h2>
    <div class="row gx-3 recipe-container no-flower">
      <div class="col">
        <div class="recipe text-center coffee-ratios">
          <p>15g</p>
          <span>coffee</span>
        </div>
      </div>
      <div class="col">
        <div class="recipe text-center coffee-ratios">
          <p>300g</p>
          <span>water</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recipes mt-4">
  <div class="container">
    <h2 class="mb-4">for cold brew...</h2>
    <div class="row gx-3 recipe-container no-flower">
      <div class="col">
        <div class="recipe text-center mb-3 coffee-ratios">
          <p>2.5 scoops</p>
          <span>coffee</span>
        </div>
      </div>
      <div class="col">
        <div class="recipe mb-3 text-center coffee-ratios">
          <p>10oz</p>
          <span>water</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %} -->


<section class="post-body">
  {{ content }}
</section>
